
  <div class="card grid-block vertical">
    <div class="card-title grid-block" >
      <div class="small-12 grid-content">
        <h4>Activity</h4>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-block small-6 vertical status-comment">
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Email Opened</b> by <u>{{single.reconciler}}</u>. {{comment_3_date}} at {{comment_3_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="comment-square" size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10  grid-content">
            <p><b>Comment added</b> by <u>{{single.reconciler}}</u>. {{comment_3_date}} at {{comment_3_time}}<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Email Sent</b> to <u>{{single.approver}}</u>. {{comment_2_date}} at {{comment_2_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="circle-check"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Approved</b> by <u>{{single.approver}}</u>. {{comment_2_date}} at {{comment_2_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Email Opened</b> by <u>{{single.approver}}</u>. {{comment_2_date}} at {{comment_2_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Email Sent</b> to <u>{{single.purchaser}}</u>. {{comment_1_date}} at {{comment_1_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="account"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>File Uploaded</b> by <u>{{single.purchaser}}</u>. {{comment_1_date}} at {{comment_1_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-item">
          <div class="small-2 text-center">
            <img zf-iconic="" icon="document"size="medium" class="iconic-color-secondary">
          </div>
          <div class="small-10 grid-content">
            <p><b>Request Created</b> by <u>{{single.purchaser}}</u>. {{comment_1_date}} at {{comment_1_time}}</p>
          </div>
        </div>
        <div class="grid-block activity-visible-button">
          <div class="">
            <p>
              <a ng-click="view_all_activity()"><span>View All</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-block small-6 ">
        <div class="grid-content">
          <label>
            <textarea name="" ng-model="single.comment" id="" cols="30" class="" rows="5" placeholder="Add a comment..."  ng-class="{'changed': '' == ''}"></textarea>
          </label>
          <label class="file-wrapper">
            Add an attachment
            <input type="file" value="Attach Document" style="opacity: 0;">
          </label>
        </div>
      </div>
    </div>
  </div>
