<span ng-if="singleChanges.diff.length == 0">
  <a style="width:100%; color: white;" class="no-margin-button button primary align-right"  style="width: 100%; margin: 0px;">Approve</a>
</span>
<span ng-if="singleChanges.diff.length > 0">
  <span ng-if="findOne(singleChanges.diff, ['amount_scope', 'product_type', 'org_code', 'building_number', 'amount', 'direct_pay'])">
    <a style="width:100%" class="no-margin-button button success align-right" style="width: 100%; margin: 0px;">Save Change</a>
  </span>
  <span ng-if="findOne(singleChanges.diff, ['comment'])" >
    <a ng-click="submit_comment()" zf-open="commentModal"  style="width:100%" class="no-margin-button button success align-right" style="width: 100%; margin: 0px;">Send Comment</a>
  </span>
</span>
