<span ng-if="singleChanges.diff.length > 0">
  <span ng-if="!findOne(singleChanges.diff, ['comment']) && findOne(singleChanges.diff, ['amount_scope', 'product_type', 'org_code', 'building_number', 'amount', 'direct_pay', 'org_code','object_field','cl_number','function_code'])">
    <a ng-click="save_changes()" class="no-margin-button button success align-right" style="margin: 0px;" title="Notification" content="Your changes have been saved." color="success" autoclose="3000" zf-notify="comment-sent-notification">Save Change</a>
  </span>
  <span ng-if="findOne(singleChanges.diff, ['comment'])" >
    <a ng-click="submit_comment()" zf-open="commentModal" class="no-margin-button button success align-right" style="margin: 0px;">Send Comment</a>
  </span>
  <span ng-if="!findOne(singleChanges.diff, ['comment', 'amount_scope', 'product_type', 'org_code', 'building_number', 'amount', 'direct_pay', 'org_code','object_field','cl_number','function_code']) && single.inbox_status=='Approved'">
    <a ng-click="" zf-open="reconcile-modal" class="no-margin-button button primary align-right" style="margin: 0px;">Reconcile Request</a>
  </span>
  <span ng-if="!findOne(singleChanges.diff, ['comment', 'amount_scope', 'product_type', 'org_code', 'building_number', 'amount', 'direct_pay', 'org_code','object_field','cl_number','function_code']) && single.inbox_status=='Pending'">
    <a ng-click="" class="disabled no-margin-button button primary align-right" style="margin: 0px;">Update Request</a>
  </span>
  <span ng-if="!findOne(singleChanges.diff, ['comment', 'amount_scope', 'product_type', 'org_code', 'building_number', 'amount', 'direct_pay', 'org_code','object_field','cl_number','function_code']) && single.inbox_status=='Completed'">
    <a ng-click="" class="no-margin-button button primary align-right" style="margin: 0px; opacity: 0;">Update Request</a>
  </span>
</span>
