<div class="card grid-block">
  <div class="small-12 grid-block vertical">
    <div class="card-title grid-block shrink" style="margin-bottom: 0px;">
      <div class="grid-content">
        <h4>Approvals</h4>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content">
        <section class="block-list approval-list" style="margin-bottom: 0px">
          <ol>
            <li ng-class="{
                done : single.inbox_status == 'Completed' || single.inbox_status == 'Approved'
              , next : single.inbox_status == 'Pending'
              }">
              <label for="role1"><b>Approver:</b> {{single.approver}}</label>
            </li>
            <li ng-class="{
                done : single.inbox_status == 'Completed'
              , next : single.inbox_status == 'Approved'
              }">
              <label for="role2"><b>Purchaser:</b> {{single.person_name}}</label>
            </li>
            <li ng-class="{
                done : single.inbox_status == 'Completed'
              }">
              <label for="role2"><b>Reconciler:</b> {{single.reconciler}}</label>
            </li>
          </ol>
        </section>
      </div>
    </div>
  </div>
</div>
