
<div class="grid-block medium-12 grid-container align-justify message-header" style="padding-left: 25px">
  <div class="small-12 grid-block medium-8">
    <div class="grid-content">
      <p>Requester: <b>{{single.person_name}}</b><span style="padding-left: 1.8em"></span>Submitted {{single.date}}</p>
      <h3>{{single.product_name}}</h3>
    </div>
  </div>
  <div class="small-12 grid-block medium-3 vertical">
    <div class="grid-block">
      <div class="grid-content">
        <p class="text-right" style="opacity: 0;">Submitted {{single.date}}</p>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content" style="    margin-top: auto;">
        <p class="text-right">
          <div ng-include="'partials/content/action-buttons.html'"></div>
        </p>
      </div>
    </div>
  </div>
</div>
