<div class="grid-block activity-item" ng-repeat="comment in single.comments" ng-class="{'visible': comment.visible == true || comment.first == true}">
  <div class="small-2 text-center">
    <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
  </div>
  <div class="small-10 grid-content">
    <p><b>{{comment.action}}</b> by <u>{{comment.name}}</u>. {{comment.date}} at {{comment.time}}</p>
  </div>
</div>
<div class="grid-block activity-visible-button">
  <div class="">
    <p>
      <a ng-click="view_all_activity()" ng-show="single.comments.activity != false"><span>Show All/Hide</span></a>
    </p>
  </div>
</div>
