
  <div class="card grid-block">
    <div class="small-12 grid-block vertical">
      <div class="grid-block shrink card-title">
        <div class="grid-content">
          <h4 style="">Subscribers</h4>
        </div>
      </div>
      <div ng-repeat="subscriber in single.subscriber" class="grid-block" style="padding-bottom:0px;">
        <div class="grid-content small-10 subscribe-field">
          <label>
            <input type="email" placeholder="name@domain.com" value="{{subscriber}}">
          </label>
        </div>
        <div class="grid-content small-2 subscribe-field subscribe-delete">
          <a ng-click="remove_subscriber(subscriber)" class="align-right"><img zf-iconic="" class="iconic-color-secondary" icon="circle-x" size="small"></a>
        </div>
      </div>
      <div class="grid-block" style="padding-bottom:0px;">
        <div class="grid-content small-10 subscribe-field">
          <label>
            <input type="email" placeholder="name@domain.com">
          </label>
        </div>
        <div class="grid-content small-2 subscribe-field subscribe-delete">
          <a href="" class="align-right"><img zf-iconic="" class="iconic-color-secondary" icon="circle-x" size="small"></a>
        </div>
      </div>
      <div class="grid-block new-subscriber" style="padding-bottom:0px;">
        <div class="grid-content">
          <p>
            <a ng-click="add_new_subscriber()" class="subscribe-button">
              Add Subscriber
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
