@import "settings";
@import "foundation";

.control-message-bar{
  background: #eee;
  margin-bottom: 30px;
}

.control-current-status{
  margin-bottom: 30px;
}

.control-current-status.card{
  padding-top: 20px;
}

aside.modal{
  overflow: scroll;
}

.card-section.no-top{
  padding-top: 0px;
}

.card-section.no-bottom{
  padding-bottom: 0px;
}

.card-divider{
  background: #fff;
  border-bottom: 1px solid #ededed;
}

.tab-content-card{
  padding-top: 40px;
}

.sidebar{
  background: $primary-color;
  .title{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .menu-items{
    a{
      color: white;
    }
    // background: $secondary-color;
  }
}


.tabs .tab-item{
  &.is-active.is-active{ 
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: -3px;
    border-bottom: 4px solid #fff;
  }
}


.activity-item{
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-light;
}

.inbox-list{
  margin-bottom: 0px;
  
  &.active{
    li{
      background: #eee;
    }
  }
  &>li{
    position: relative;
    .action-items{
      position: absolute;
      top: 1em;
      right: 1em;
      opacity: 0;
    }
    &:hover{
      .action-items{
        opacity: 1;
      }
    }
  }
  .inbox-item{
    border-left: 5px solid $secondary-color;
    &.active{
      background: #fff;
      a:hover{
        background: #f2f2f2;
      }
    }
    &.primary{ 
      border-left-color: $primary-color;
    }
    &.secondary{ 
      border-left-color: $secondary-color;
    }
    &.alert{ 
      border-left-color: $alert-color;
    }
    &.info{ 
      border-left-color: $info-color;
    }
    &.success{ 
      border-left-color: $success-color;
    }
    &.warning{ 
      border-left-color: $warning-color;
    }
    &.dark{ 
      border-left-color: $dark-color;
    }
  }
}