@import "settings";
@import "foundation";

strong, b {
  font-weight: 500;
}

.label {
  border: 1px solid $primary-color;
}

.search-wrap{
  position: relative;
  svg{
    position: absolute;
    top: 12px;
    left: 10px;
  }
  input{
    padding-left: 30px;
  }
}

#message{
  background: #FBFBFB;
  .card{
    border-top: 5px solid #07519B;
    h4{
      font-weight: 500;
    }
    b{
      padding-bottom: 10px;
      display: block;
    }
  }
}

.utility-box{
  padding-top: 6px;
  text-align: right;
  .button{
    margin-bottom: 0px;
  }
}

.inbox-feed .menu-bar li{
  height: 39px;
  border: 1px solid #eee;
  border-left: none;
}

.active-menu-item{
  background: $success-color;
  &:hover{
    background: lighten($success-color, 20%);
  }
}

.advanced-search{
  position: absolute;
  top: 9px;
  right: 9px;
  .button{
    background: none;
    color: $secondary-color;
    &:hover, &:focus{
      background: none;
    }
    width: 13px;
    height: 14px;
    padding: 0px 11px 0px 10px;
    line-height: 14px;
  }
}

.action-sheet-container{
  .button{
    margin-bottom: 0px;
  }
}

.inbox-feed{
  .action-sheet{
    width: auto
  }
}

.heading-row .grid-block{
  margin-bottom: 0em;
  padding-bottom: .5em;
}

.footer-utility .control-message-bar{
  margin-bottom: 0px;
}

.report-wrapper{
  margin-top: 2em;
}

.control-message-bar{
  background: #eee;
  margin-bottom: 30px;
}

.plus-button{
  font-size: 18px;
  color: $secondary-color;
  font-weight: bold;
}

.modal.is-active{
  border: 1px solid #333;
}

.control-current-status{
  margin-bottom: 30px;
}

.control-current-status.card{
  padding-top: 20px;
}

aside.modal{
  overflow: scroll;
}

.card-section.no-top{
  padding-top: 0px;
}

.card-section.no-bottom{
  padding-bottom: 0px;
}

.card-divider{
  background: #fff;
  border-bottom: 1px solid #ededed;
}

.tab-content-card{
  padding-top: 40px;
}



@media only screen and (min-width: 75em){
  .sidebar{
      -webkit-flex: 0 0 11.33333%;
      -ms-flex: 0 0 11.33333%;
      flex: 0 0 11.33333%;
      max-width: 11.33333%;
    }
}
.sidebar{
  background: $primary-color;
  padding-top: 30px;
  .logo {
    img{
      max-width: 80%;
    }
    margin-bottom: 20px;
  }
  .title{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .menu-items{
    li{
      border-bottom: none;
    }
    a{
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      line-height: 2;
    }
    // background: $secondary-color;
  }
  .block-list{
    margin-right: -.5rem;
  }
}

.top-bar{
  overflow: visible; 
  padding-bottom: 10px; 
  padding-top: 10px; 
  padding-left: 10px;
  .containers{
    overflow: visible;
  }
  .search-container{
    margin-left: auto;
    margin-right: 50px; 
    padding-left: 10px;     
    overflow: visible;
    .action-sheet::before, 
    .action-sheet::aftere
    {
      display: none;
    }
    .action-sheet.is-active {
      -webkit-transform: translateX(-83%) translateY(118%);
      transform: translateX(-83%) translateY(118%);
    }
  }
  .search-wrap{
    width: 100%;
  }
  .search-input{
    margin-bottom: 0px;
  }
}

.tabs .tab-item{
  &.is-active.is-active{
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: -3px;
    border-bottom: 4px solid #fff;
  }
}


.activity-item{
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 1em;
  p{
    margin-bottom: 0px;
  }
  &.last{
    margin-bottom: 0px;
    border-bottom: none;
  }
}

.card h4{
  padding-top: .5em;
  padding-bottom: .5em;
}

.medium-up-2{
  .left-column-fix{
    padding-left: 0px;
    margin-left: 0px;
  }
  .right-column-fix{
    padding-right: 0px;
    margin-right: 0px;
  }
}

.inbox-list{
  margin-bottom: 0px;

  &.active{
    li{
      background: #eee;
    }
  }
  &>li{
    position: relative;
    .action-items{
      position: absolute;
      top: 1em;
      right: 1em;
      opacity: 0;
    }
    &:hover{
      .action-items{
        opacity: 1;
      }
    }
  }
  .inbox-item{
    border-left: 5px solid $secondary-color;
    &.active{
      background: #fff;
      a:hover{
        background: #f2f2f2;
      }
    }
    &.primary{
      border-left-color: $primary-color;
    }
    &.secondary{
      border-left-color: $secondary-color;
    }
    &.alert{
      border-left-color: $alert-color;
    }
    &.info{
      border-left-color: $info-color;
    }
    &.success{
      border-left-color: $success-color;
    }
    &.warning{
      border-left-color: $warning-color;
    }
    &.dark{
      border-left-color: $dark-color;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
