.xc-header-block {
  @include grid-block(
    $size: expand, // Can be expand, shrink, or a number of columns
    $orientation: horizontal, // Set to vertical for a vertical grid
    $align: spaced // Can be left, right, center, justify, or spaced
  )
  padding-top: 40px;
}

.xc-search {
  vertical-align: baseline;
}

.xc-button-badge {
  @extend %badge;
  @include badge-layout(
    $fontsize: 2rem,
    $diameter: 40px
  );
  @include badge-style(
    $background: $secondary-color,
    $color: #000
  );
  padding-left: 1px;
  padding-bottom: 5px;
  transform: rotate(90deg);
}

.xc-button-text {
  padding-left: 0px;
  font-weight: bold;

  a {
    color: $dark-color;
  }
}

.xc-inbox {
  table {
    width: auto;
    padding: 40px;
    line-height: 130%;
  }

  thead, tbody {
    border-bottom: 2px solid black;
  }

  th {
    text-align: left;
    padding-right: 3rem;
  }

  tr {
    height: 80px;
  }

  td {
    text-align: left;
    padding-right: 2rem;
  }
}

.menu-bar li a {
  padding: 10px;
}
