.xc-page {
  background-color: #f3f3f3;
}

.view-container{
  display: none;
  &.visible{
    display: flex;
  }
}

.xc-top-bar {
  @include grid-block(
    $size: expand, // Can be expand, shrink, or a number of columns
    $orientation: horizontal, // Set to vertical for a vertical grid
    $align: left // Can be left, right, center, justify, or spaced
  )
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #192b7c;
}


.xc-header-block {
  @include grid-block(
    $size: expand, // Can be expand, shrink, or a number of columns
    $orientation: horizontal, // Set to vertical for a vertical grid
    $align: spaced // Can be left, right, center, justify, or spaced
  )
  padding-top: 20px;
  padding-bottom: 3rem;

  h2 {
    font-weight: light;
  }
}

.xc-search {
  vertical-align: baseline;
  background-color: #354694;
  width: 100%;
  margin: 0 1rem 0 1rem;

  input, input:focus, input:hover, a {
    color: #8dbbf0;
    background-color: #354694;
    border: none;
    padding-left: 1rem;
    //margin: 0;
  }

  input:placeholder {
    color: #4b63cf
  }
}

.xc-button {
  @extend %button;
  @include button-size(
    $size: medium, // tiny, small, medium, or large
    $expand: true
  );
  @include button-style(
    $background: #e2e8ee, // Background color
    $background-hover: #fff, // Background color on hover. Use "auto" to generate automatically
    $color: #192b7c, // Text color
    $style: solid // Can be solid or hollow
  );
  border-radius: 5px;
  display: table;

  .xc-create-request-icon {
    font-size: 160%;
    font-weight: bold;
    padding-right: 0.5rem;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    bottom: 1.6rem;
  }

  .xc-download-csv-icon {
    display: table-cell;
    font-size: 160%;
    transform: rotate(90deg);
    position: absolute;
  }

  .xc-button-text {
    font-size: 110%;
    display: table-cell;
    white-space: nowrap;
    padding-left: 2rem;
    vertical-align: baseline;
  }
}

.xc-inbox {

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
  }

  th, td {
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 95%;
  }

  thead {
    background-color: #192b7c;
    color: white;

    .sorting-asc, .sorting-desc {
      background-color: #354694;
    }

    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: left;
      padding-right: 1rem;
      font-weight: normal;
      font-size: 80%;
      position: relative;

      div {
        display: inline-block;
      }

      .arrow {
        text-align: right;
        position: absolute;
        right: 15px;
      }

    }

    th[data-sort]{
      cursor:pointer;
    }
  }

  tbody tr {
    line-height: 130%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;

    td {
      text-align: left;
      border-bottom: 1px solid #e2e8ee;
      border-top: 1px solid #e2e8ee;
    }

    td.activity {
      font-size: 70%;
      border: 1px solid #e2e8ee;
      color: #0744a4;
      line-height: 0.9rem;

      .actor {
        font-weight: bold;
      }
    }
  }

  tbody tr:hover td {
    background-color: #ebf1f7;
  }

  tbody tr:hover td.activity {
    background-color: #dfe5ec;
  }


  .xc-status-indicator {
    @extend %button;
    // Use the size mixin to set a size
    @include button-size(
      $size: medium, // tiny, small, medium, or large
      $expand: false
    );
    font-size: 80%;
    font-weight: bold;
    width: 6rem;
    margin: 0;
  }

  .Approved {
    @include button-style(
      $background: #192b7c, // Background color
      $color: #fff, // Text color
      $style: solid // Can be solid or hollow
    );
  }

  .Pending {
    @include button-style(
    $background: #192b7c, // Background color
    $color: #fff, // Text color
    $style: hollow // Can be solid or hollow
    );
    border-width: 2px;
  }

  .Completed {
    @include button-style(
      $background: #4a4a4a, // Background color
      $color: #fff, // Text color
      $style: solid // Can be solid or hollow
    );
  }

  .Canceled {
    @include button-style(
      $background: #e8e8e8, // Background color
      $color: #4a4a4a, // Text color
      $style: solid // Can be solid or hollow
    );
  }
}

.menu-bar li a {
  margin: 10px;
  padding: 0 0 7px 0;
  color: #192b7c;
}

.xc-filter-bar {
  background: none;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;

  .selected {
    padding-bottom: 3px;
    border-bottom: 2px solid #192b7c;
  }
}

.modal {
  max-width: 80%;
}

select {
    height: auto;
}

select[size], select[multiple] {
    background-image: none;

    option {
      padding: 0.5rem;
    } 
}
