<div class="grid-block wrap control-message-bar">
  <div class="medium-6 grid-content">
      <h4>
        <a ui-sref="inbox" class="button tiny secondary"style="margin-bottom: 2px;">
          <img zf-iconic="" icon="chevron" data-direction="left" size="small"> Back</a>
        <b>ID</b> 00654-D
      </h4>
  </div>
  <div class="medium-6 grid-content utility-box">
    <!-- <a href="#" class="secondary tiny button">Share
      <img zf-iconic="" icon="share-boxed" size="small">
    </a>
    <a href="#" class="secondary tiny button">Pin
      <img zf-iconic="" icon="star" size="small">
    </a> -->
  </div>
</div>