<div class="grid-block">
  <div class="grid-block medium-11 grid-container align-justify message-header">
    <div class="small-12 grid-block medium-8">
      <div class="grid-content">
        <p>Requester: <b>Hillary Hartley</b><span style="padding-left: 1.8em"></span>Submitted 12/15/15</p> 
        <h3>Thunderbolt Monitor for SF new hire</h3>
      </div>
    </div>
    <div class="small-12 grid-block medium-3 vertical">
      <div class="grid-block">
        <div class="grid-content">
          <p class="text-right" style="opacity: 0;">Submitted 12/15/15</p>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-content" style="    margin-top: auto;">
          <p class="text-right">
            <a class="button primary align-right" href="#" style="width: 100%; margin: 0px;">Approve</a>
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="grid-block message-content medium-up-1">
  <div class="grid-block control-current-status card-parent">
    <div class="card grid-block vertical">
      <div class="card-title grid-block" >
        <div class="small-12 grid-content">
          <h4>Activity</h4>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-block  small-6 vertical status-comment">
          <div class="grid-block activity-item visible single">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="comment-square" size="medium" class="iconic-color-warning">
            </div>
            <div class="small-10  grid-content">
              <p><b>Comment added</b> by <u>Ethan Heppner</u>. 2/13/2015 at 3:29pm<br>
              Please remind the Victor from the purchasing department to use our Apple discount.</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>Email Opened</b> by <u>Ethan Heppner</u>. 2/13/2015 at 3:28pm</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>Email Sent</b> to <u>Ethan Heppner</u>. 2/13/2015 at 1:19pm</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="circle-check"size="medium" class="iconic-color-success">
            </div>
            <div class="small-10 grid-content">
              <p><b>Approved</b> by <u>Cady Heron</u>. 2/13/2015 at 1:18pm</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>Email Opened</b> by <u>Cady Heron</u>. 2/13/2015 at 1:18pm</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>Email Sent</b> to <u>Cady Heron</u>. 2/13/2015 at 1:13pm</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="account"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>File Uploaded</b> by <u>Kevin Gnapoor</u>. 2/13/2015 at 11:01am</p>
            </div>
          </div>
          <div class="grid-block activity-item">
            <div class="small-2 text-center grid-content">
              <img zf-iconic="" icon="document"size="medium" class="iconic-color-secondary">
            </div>
            <div class="small-10 grid-content">
              <p><b>Request Created</b> by <u>Kevin Gnapoor</u>. 2/13/2015 at 11:01am</p>
            </div>
          </div>
          <div class="grid-block activity-visible-button">
            <div class="">
              <p>
                <a ng-click="view_all_activity()"><span>View All</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="grid-block small-6 ">
          <div class="grid-content">
            <label>
              <textarea name="" id="" cols="30" class="" rows="5" placeholder="Add a comment..."></textarea>
            </label>
            <label class="file-wrapper">
              Add an attachment
              <input type="file" value="Attach Document" style="opacity: 0;">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block control-current-status card-parent">
    <div class="card grid-block">
      <div class="small-12 grid-block vertical">
        <div class="card-title grid-block">
          <div class="grid-content">
            <h4>Request Details</h4>
          </div>
        </div>
        <div class="grid-block">
          <div class="grid-content">
            <b>Description</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nulla ipsam vel recusandae in rem vitae officiis a aspernatur, officia eos, similique commodi rerum quae inventore animi excepturi ducimus qui.</p>
          </div>
        </div>
        <div class="grid-block medium-up-3">
          <div class="large-6 medium-4 grid-block" style="padding-bottom: 0px;">
              <label style="width: 100%;">
                Expense Type
                <select name="" id="" style="margin-top: 0.5rem;">
                  <option value=""></option>
                </select>
              </label>
          </div> 
          <div class="large-6 medium-4 grid-block" style="padding-bottom: 0px;">
              <label style="width: 100%;">
                Building Number
                <select name="" id="" style="margin-top: 0.5rem;">
                  <option value=""></option>
                </select>
              </label>
          </div>
          <div class="large-6 medium-4 grid-block" style="padding-bottom: 0px;">
              <label>
                Org Code
                <input type="text">
              </label>
          </div>
          <div class="large-12 medium-4 grid-block">
              <label style="padding-bottom: 1em;">
                Direct Pay <br>
                <div class="grid-block" style="padding-top: 15px;">
                  <div class="small-2 grid-block" >
                    <input type="checkbox" name="radAnswer">
                  </div>
                  <div class="small-10 grid-block" >
                    <p style="margin-bottom: 0px;">I am going to use <a href="#" zf-open="my-notify">Direct Pay</a> for this transaction</p>
                  </div>
                </div>
              </label>
          </div>
          <div class="large-6 medium-4 grid-block" style="padding-bottom: 0px;">
              <label>
                Amount
                <input type="text">
              </label>
          </div>
          <div class="large-6 medium-4 grid-block" style="padding-bottom: 0px;">
              <label style="margin-top: .8em;">
                <input type="radio" name="radAnswer"> Not to exceed <br>
                <input type="radio" name="radAnswer"> Exactly
              </label>
          </div>
        </div>
        <div class="grid-block inline-notification">
          <div class="grid-content">
            <zf-notification-static id="my-notify" zf-advise="" title="Using Direct Pay">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt rerum modi culpa reiciendis atque, maiores minima necessitatibu.</p>
            </zf-notification-static>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block control-current-status card-parent">
    <div class="card grid-block">
      <div class="small-12 grid-block vertical">
        <div class="card-title grid-block">
          <div class="grid-content">
            <h4>Purchase Details</h4>
          </div>
        </div>
        <div class="grid-block">
          <div class="grid-content small-5 vendor-field">
            <label>
              Vendor
              <input type="text">
            </label>
          </div>
          <div class="grid-content small-6 vendor-field">
            <label>
              Link
              <input type="text">
            </label>
          </div>
          <div class="grid-content small-1 vendor-field vendor-delete">
            <a href="" class="align-right"><img zf-iconic="" class="iconic-color-secondary" icon="circle-x" size="small"></a>
          </div>
        </div>
        <div class="grid-block new-vendor">
          <div class="grid-content" style="padding-bottom:0px;">
            <p class="">
              <a ng-click="add_new_vendor()" class="vendor-button">
                Add Vendor
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-block message-content medium-up-2">
  <div class="grid-block control-current-status card-parent">
    <div class="card grid-block">
      <div class="small-12 grid-block vertical">
        <div class="card-title grid-block shrink" style="margin-bottom: 0px;">
          <div class="grid-content">
            <h4>Approvals</h4>
          </div>
        </div>
        <div class="grid-block">
          <div class="grid-content">
            <section class="block-list approval-list" style="margin-bottom: 0px">
              <ul>
                <li class="done">
                  <input type="radio" id="role1" value="Francene Dearborn" checked="">
                  <label for="role1">Approver 1 <b><span>Ethan Heppner</span></b></label>
                </li>
                <li>
                  <input type="radio" id="role2" value="Veronique Donati" checked="">
                  <label for="role2">Purchaser <b><span>Victor V.</span></b></label>
                </li>
                <li>
                  <input type="radio" id="role2" value="Veronique Donati" checked="">
                  <label for="role2">Reconciler <b><span>Corrine Cockreham</span></b></label>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-block control-current-subscriber card-parent">
    <div class="card grid-block">
      <div class="small-12 grid-block vertical">
        <div class="grid-block shrink card-title">
          <div class="grid-content">
            <h4>Subscribers</h4>
          </div>
        </div>
        <div class="grid-block" style="padding-bottom:0px;">
          <div class="grid-content small-10 subscribe-field">
            <label>
              <input type="email" placeholder="name@domain.com">
            </label>
          </div>
          <div class="grid-content small-2 subscribe-field subscribe-delete">
            <a href="" class="align-right"><img zf-iconic="" class="iconic-color-secondary" icon="circle-x" size="small"></a>
          </div>
        </div>
        <div class="grid-block new-subscriber" style="padding-bottom:0px;">
          <div class="grid-content">
            <p>
              <a ng-click="add_new_subscriber()" class="subscribe-button">
                Add Subscriber
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-block control-current-subscriber card-parent last">
  </div>
</div>

