---
name: home
url: /
---

<div class="grid-frame">
  <div class="grid-block vertical">
    <h1>Dashboard</h1>
    <div class="grid-block medium-up-2">
      <div class="grid-block medium-up-1">
        <div class="card">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel maxime porro nihil sit alias atque laudantium assumenda ipsam neque accusamus deserunt delectus blanditiis dolore sed magni debitis magnam, libero laborum!</p>
        </div>
        <div class="card">
          <img src="assets/img/line-chart.png" alt="" style="max-height: 400px">
        </div>
        <div class="card">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel maxime porro nihil sit alias atque laudantium assumenda ipsam neque accusamus deserunt delectus blanditiis dolore sed magni debitis magnam, libero laborum!</p>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-block medium-up-2">
          <div class="grid-block">
            <div class="card">
              <img src="assets/img/pie-chart.png" alt="">
              <div class="card-section">
                <p>Lorem ipsum dolor sit amet ratione.</p>
                <a href="#" class="button hollow large expand">Do it</a>
              </div>
            </div>
          </div>
          <div class="grid-block">
            <div class="card">
              <img src="assets/img/pie-chart.png" alt="">
              <div class="card-section">
                <p>Lorem ipsum dolor si.</p>
                <a href="#" class="button hollow large expand">Do it</a>
              </div>
            </div>
          </div>
          <div class="grid-block">
            <div class="card">
              <img src="assets/img/vline-chart.png" alt="">
              <div class="card-section">
                <p>Lorem ipsum dolor sit amete placeat. Asperiores.</p>
                <a href="#" class="button hollow large expand">Do it</a>
              </div>
            </div>
          </div>
          <div class="grid-block">
            <div class="card">
              <img src="assets/img/vline-chart.png" alt="">
              <div class="card-section">
                <p>Lorem ipsum dolor sit ametiet nam?</p>
                <a href="#" class="button hollow large expand">Do it</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>