---
name: inbox
url: /inbox
---

<div class="small-12 medium-12 messages grid-content">
  <a class="button secondary expand hide-for-medium" zf-open="sub-nav">This</a>
  <section class="block-list">
    <li>
      <input type="text" placeholder="Search">
    </l1>
    <div ng-include="'partials/inbox/list.html'"></div> 
  </section>
</div>

<!-- Start Compose Message -->
<zf-modal overlay="true" id="compose">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Compose Message</div>
      <span class="left"><a zf-close="compose" href="#">Cancel</a></span>
      <span class="right"><a href="#">Send</a></span>
    </div>
    <div class="grid-content">
      <label>Email
        <input type="text" placeholder="email@zmail.com" />
      </label>
      <label>Message
        <textarea placeholder="hello..."></textarea>
      </label>
    </div>
    </div>
  </div>
</zf-modal>
<!-- End Compose Message -->