---
name: message
url: /inbox/5da1d59-83c9-42bb-8e51-b39f0924349d
---

<div class="small-12 medium-3 messages grid-content">
  <a class="button secondary expand hide-for-medium" zf-open="sub-nav">This</a>
  <section class="block-list">
    <li>
      <input type="text" placeholder="Search">
    </l1>
    <div ng-include="'partials/inbox/list.html'"></div> 
  </section>
</div>


<div zf-panel id="message" position="right" class="fast bounceInOut small-12 medium-9 medium-grid-content">
  <div class="grid-block wrap">
    <div class="small-12 grid-block control-message-bar medium-grid-content">
      <p><b>ID</b> 00654-D</p>
    </div>
  </div>

  <div class="grid-block wrap">
    <div class="small-12 medium-grid-content">
      <a class="hide-for-medium button tiny" zf-close="message">Back</a>
      <h3>Training request for UX Week Conference in San Francisco</h3>
      <p>Requester <b>Amber Reed</b>. Submitted <b>12/15/15</b></p>
    </div>
  </div>

  <div class="grid-block wrap control-current-status card">
    <div class="small-12 medium-grid-content">
      <h4>Status</h4>
      <meter min="0" max="100" low="25" high="80" optimum="100" value="80"></meter>
    </div>
    <div class="small-12 medium-1 medium-grid-content">
      <img zf-iconic="" icon="circle-check"size="medium" class="iconic-color-success">
    </div>
    <div class="small-12 medium-4 medium-grid-content">
      <p>
        Request is fully approved and ready for purchase
      </p>
    </div>
    <div class="small-12 medium-7 medium-grid-content">
      <p>
        <img zf-iconic="" icon="chevron" data-direction="right" size="medium" class="iconic-color-secondary">
        Next step
      </p>
      <p class="text-right">
        <a class="button success large" href="#">Mark as Purchased</a>
      </p>
    </div>
  </div>

  <div class="grid-block wrap">
    <div class="small-12 medium-grid-content">
      <div zf-tabs="" id="displaced-tabs" displaced="true">
        <div zf-tab="" title="Activity">
         <div class="grid-block wrap">
            <div class="small-12  medium-grid-content">
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="comment-square" size="medium" class="iconic-color-warning">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Comment added</b> by <u>Ethan Heppner</u>. 2/13/2015 at 3:29pm<br>
                    Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Email Opened</b> by <u>Ethan Heppner</u>. 2/13/2015 at 3:28pm</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Email Sent</b> to <u>Ethan Heppner</u>. 2/13/2015 at 1:19pm</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="circle-check"size="medium" class="iconic-color-success">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Approved</b> by <u>Cady Heron</u>. 2/13/2015 at 1:18pm</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="envelope"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Email Opened</b> by <u>Cady Heron</u>. 2/13/2015 at 1:18pm</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="share-boxed"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Email Sent</b> to <u>Cady Heron</u>. 2/13/2015 at 1:13pm</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="account"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>File Uploaded</b> by <u>Kevin Gnapoor</u>. 2/13/2015 at 11:01am</p>
                  </div>
                </div>
                <div class="grid-block wrap activity-item">
                  <div class="small-2 text-center  medium-grid-content">
                    <img zf-iconic="" icon="document"size="medium" class="iconic-color-secondary">
                  </div>
                  <div class="small-10  medium-grid-content">
                    <p><b>Request Created</b> by <u>Kevin Gnapoor</u>. 2/13/2015 at 11:01am</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div zf-tab="" title="Details">
          Tab 2
        </div>

      </div>
       
      <div zf-tab-content="" target="displaced-tabs" class="card tab-content-card"></div>
    </div>
  </div>
</div>


<!-- Start Compose Message -->
<zf-modal overlay="true" id="compose">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Compose Message</div>
      <span class="left"><a zf-close="compose" href="#">Cancel</a></span>
      <span class="right"><a href="#">Send</a></span>
    </div>
    <div class="grid-content">
      <label>Email
        <input type="text" placeholder="email@zmail.com" />
      </label>
      <label>Message
        <textarea placeholder="hello..."></textarea>
      </label>
    </div>
    </div>
  </div>
</zf-modal>
<!-- End Compose Message -->