---
name: inbox
url: /inbox/5da1d59-83c9-42bb-8e51-b39f0924349d
---


<div class=" grid-block">
  <div class="grid-block">
    <div class="grid-block inbox-top-bar">
      <div class="grid-content">
        <input type="text" placeholder="Search">
        <label>
          Add Filter
          <input type="text" selectize="config" options="suggestions" ng-model="selected" ng-disabled="disabled"/>
        </label>
      </div>
    </div>
  </div>
  <div class="grid-block main-content-wrapper">
    <div class="grid-block inbox-list"></div>
    <div ng-include="'partials/master-detail/message/content.html'" id="message" position="right" class="grid-block message-content large-up-2 medium-up-1"></div>  
  </div>
</div>

