---
name: inbox
url: /inbox/5da1d59-83c9-42bb-8e51-b39f0924349d
controller: MessageCtrl
---


<div class="vertical grid-block"  id="messages">
  <div class="grid-block">
    <div class="grid-content inbox-top-bar">
      <input class="search" placeholder="Search" />
      <button class="sort" data-sort="name">
        Sort by name
      </button>
    </div>
  </div>
  <div class="grid-block main-content-wrapper">
    <div class="grid-block inbox-list">
      <!-- <div class="grid-content"> -->
        <section class="block-list inbox-list active list"></section>
      <!-- </div> -->
    </div>
    
    <!-- <div ng-include="'partials/master-detail/message/content.html'" id="message" position="right" class="grid-block message-content large-up-2 medium-up-1"></div>   -->
  </div>
</div>

