---
name: reports
url: /reports
---

<div class="small-12 medium-12 messages grid-content">
  <a class="button secondary expand hide-for-medium" zf-open="sub-nav">This</a>
  <section class="report-wrapper">
    <h2>
      <img zf-iconic="" icon="document" size="medium"> 
      Reports
    </h2>
    <div class="medium-up-2 grid-block">
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Monthly Report</h4>
          </div>
          <div class="card-section">
            <p>
              See the month's requests, purchases, expense types, vendors or approvals in a list formats.
            </p>
            <p>
              <a href="#" class="button">Requests</a>
              <a href="#" class="button">Purchases</a>
              <a href="#" class="button">Vendors</a>
              <a href="#" class="button">Expense Types</a>
              <a href="#" class="button">Approvals</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Weekly Digest Report</h4>
          </div>
          <div class="card-section">
            <p>
              Check-in weekly on high-level metrics, request lists, and approval lists.
            </p>
            <p>
              <a href="#" class="button">Overview</a>
              <a href="#" class="button">Requests</a>
              <a href="#" class="button">Approvals</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Performance Report</h4>
          </div>
          <div class="card-section">
            <p>
              Compare metrics for specific piece of metadata (time for approval, response speed) to a previous time period.
            </p>
            <p>
              <a href="#" class="button">Approval Time</a>
              <a href="#" class="button">Response Speed</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Unapproved Overview Report</h4>
          </div>
          <div class="card-section">
            <p>
              Find requests that were unapproved.
            </p>
            <p>
              <a href="#" class="button">Configure</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Approval Overview Report</h4>
          </div>
          <div class="card-section">
            <p>
              Summarize key approval statistics, expense type and changes over time.
            </p>
            <p>
              <a href="#" class="button">Configure</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h4>Stats Over Time Report</h4>
          </div>
          <div class="card-section">
            <p>
              Daily, weekly or monthly breakdowns of expenses, request sources, approval sources and all amounts approved or for specific expense types.
            </p>
            <p>
              <a href="#" class="button">Configure</a>
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>
