---
name: xc-home
url: /xc
controller: ExcelCtrl
---


<div class="vertical grid-block xc-page">
  <div class="grid-block shrink" ng-include="'partials/xc/top-bar.html'"></div>

  <div class="grid-block">
    <div id="view-master" class="grid-block vertical view-container" ng-class="{'visible': view_type == 'master'}">
      <div class="grid-block xc-table-nav shrink">
        <div class="medium-11 small-12 grid-container align-justify">
          <div class="xc-header-block grid-block">
            <div class="grid-content">
              <h2>My Requests</h2>
            </div>
          </div>
          <div class="grid-block v-align">
            <div class="grid-content align-bottom">
              <div ng-include="'partials/xc/filter.html'"></div>
            </div>

            <div class="grid-content small-3 align-right align-bottom">
              <div ng-include="'partials/xc/create-request.html'"></div>
            </div>

            <div class="grid-content small-3 align-right align-bottom">
              <div ng-include="'partials/xc/download-csv.html'"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-block ">
        <div class="xc-table-content medium-11 small-12 grid-container xc-inbox">
          <table id="xc-inbox-table" ng-include="'partials/xc/inbox-table.html'"></table>
        </div>
      </div>
    </div><!-- id="view-master" -->
    <div id="view-detail" class="grid-block vertical view-container" ng-class="{'visible': view_type == 'detail'}">
      <div ng-include="'partials/xc/detail-nav.html'" class="shrink align-justify xc-detail-nav grid-block"></div>
      <div class="grid-block vertical">
        <div ng-include="'partials/global/content.html'" id="message" position="right" class="grid-block large-correct grid-container medium-11 small-12"></div>
      </div>
      <div ng-include="'partials/global/action-footer.html'" class="shrink grid-block footer-menu-wrapper large-correct"></div>
    </div><!-- id="view-detail" -->
  </div>
</div>
