<div class="collapse shrink grid-block" style="overflow: visible; padding-top: 10px;">
  <div class="medium-5 grid-block" style="border-left: 5px solid #eee; padding-left: 10px;">
    <input type="text" placeholder="Search" style="    margin-bottom: 0px;">
  </div>
  <div class="medium-7 grid-block" style="overflow: visible;">
    <a href="#" class="button">
      Search 
        <div zf-action-sheet="" class="advanced-search">
          <div zf-as-button="" title="▼" class="filter-button"></div>
          <div zf-as-content="" position="bottom">
            <ul class="text-left">
              <div ng-include="'partials/master-detail/inbox/search.html'"></div>  
            </ul>
          </div>
        </div>
    </a>
    <ul class="icon-left secondary menu-bar medium-condense"  style="overflow: visible;">

      <li>
        <a ui-sref="inbox-pending">
          <img zf-iconic="" icon="Reload" size="small" class="iconic-color-primary">
          Pending
        </a>
      </li>
      <li>
        <a ui-sref="inbox-completed">
          <img zf-iconic="" icon="circle-x" size="small" class="iconic-color-primary">
          Completed
        </a>
      </li>
      <li>
        <a ui-sref="inbox-pinned" class="active-menu-item">
          <img zf-iconic="" icon="star" size="small" class="iconic-color-primary">
          Pinned
        </a>
      </li>

      <li>
        <div zf-action-sheet="">
          <div zf-as-button="" title="Filters" class="filter-button"></div>
          <div zf-as-content="" position="bottom">
          <ul class="text-left">
            <div ng-include="'partials/master-detail/inbox/filter.html'"></div>  
          </ul>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>