<ul class="vertical menu-bar medium-horizontal xc-filter-bar">
  <li><a ng-class="{'selected': active_filter == ''}" ng-click="filter_by(''); processFilter();">All</a></li>
  <li><a ng-class="{'selected': active_filter == 'recent'}" ng-click="enableRecentActivityFilter()">Recent Activity</a></li>
  <li><a ng-class="{'selected': active_filter == 'pending'}" ng-click="filter_by('pending')">Pending</a></li>
  <li><a ng-class="{'selected': active_filter == 'approved'}" ng-click="filter_by('approved')">Approved</a></li>
  <li><a ng-class="{'selected': active_filter == 'completed'}" ng-click="filter_by('completed')">Completed</a></li>
</ul>
