<div class="search-bar">
  <form ng-submit="processFilter()">
  <label class="search-field">
    <input type="text" style="margin-bottom: 0px;" ng-model="query.$" class="search-field-input">
    <a ng-click="processFilter()" class="">
      <img zf-iconic="" icon="magnifying-glass" size="small">
    </a>
    <a ng-click="advanced_search()" class="iconic-chevron">
      <img zf-iconic="" class="iconic-color-secondary" icon="chevron" data-direction="bottom" size="small">
    </a>
  </label>
  </form>
  <div class="advanced-search" ng-class="{'active': show_advanced_search == true}">
    <label>
        Card Holder Name
        <input type="text" class="small-12" ng-model="query.person_name">
    </label>
    <label>
        Vendor Name
        <input type="text" class="small-12" ng-model="query.product_name">
    </label>
    <div class="grid-block">
        <div class="small-12 medium-6 grid-content">
            <label>
              Amount
              <input type="text" ng-model="query.amount">
            </label>
        </div>
        <div class="small-12 medium-6 grid-content">
            <label>Expense Type</label>
            <select name="" id="" ng-model="query.product_type">
              <option value=""></option>
              <option value="widget">Equiptment</option>
              <option value="service">Services</option>
              <option value="product">Software</option>
              <option value="*">Other</option>
            </select>
        </div>
    </div>
    <div class="grid-block">
        <div class="small-12 medium-12 grid-content">
            <label>
                Date Within
                <input date-range-picker class="form-control date-picker" type="text" ng-model="date" />
            </label>
        </div>
    </div>
    <div class="grid-block">
        <div class="small-12 medium-12 text-right">
            <button ng-click="processFilter()" class="button">Search</button>
        </div>
    </div>
  </div>
</div>
