<div class="overflow-visible" ng-class="view_type == 'master' ? 'xc-top-bar' : 'xc-top-detail'">
  <div class="grid-block medium-10 small-12 grid-container overflow-visible">
    <div class="grid-block small-6 logo-wrapper">
      <div class="grid-content">
        <img src="/assets/img/carticon.png" style="height:25px">
        <img src="/assets/img/img-logo-c2-portal.png">
      </div>
    </div>

    <div class="grid-block small-6 overflow-visible align-right">
      <div class="search-bar overflow-visible" ng-include="'partials/global/advanced-search.html'"></div>
    </div>
  </div>
</div>
