

<div zf-modal="" id="modal-add-vendor" class="collapse">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Title Bar</div>
      <span zf-close="" class="left"><a>Cancel</a></span>
      <span zf-close="" class="right"><a>Create</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem;">
      <label>
        Vendor Name
        <input type="text" placeholder="Name">
      </label>
      <label>
        Vendor Name
        <input type="text" placeholder="http://www.domain.com">
      </label>
      <a zf-close="" class="button">Create</a>
    </div>
  </div>
</div>

<div zf-modal="" id="reconcile-modal" overlay="false" overlay-close="false" class="tiny dialog" style="border: 1px solid #333;">
  <h4>Are you sure you want to <em>reconcile</em> this request?</h4>
  <a zf-close="" ng-click="reconcile_single()" class="primary button" title="Notification" content="The request has been reconciled." color="warning" autoclose="3000" zf-notify="comment-sent-notification">Yes</a>
  <a zf-close="" class="secondary button">No</a>
</div>

<div zf-modal="" id="approve-modal" overlay="false" overlay-close="false" class="tiny dialog" style="border: 1px solid #333;">
  <h4>Are you sure you want to <em>approve</em> this request?</h4>
  <a zf-close="" ng-click="approve_single()" class="primary button" title="Notification" content="The request has been approved." color="success" autoclose="3000" zf-notify="comment-sent-notification">Yes</a>
  <a zf-close="" class="secondary button">No</a>
</div>

<div zf-modal="" id="delete-modal" overlay="false" overlay-close="false" class="tiny dialog" style="border: 1px solid #333;">
  <h4>Are you sure you want to <em>delete</em> this request?</h4>
  <a zf-close="" ng-click="delete_single()" class="alert button" title="Notification" content="The request has been deleted." color="alert" autoclose="3000" zf-notify="comment-sent-notification">Yes</a>
  <a zf-close="" class="secondary button">No</a>
</div>

<!-- Start Compose Message -->
<zf-modal overlay="true" id="compose">
  <div class="grid-block vertical">
    <div class="primary title-bar">
      <div class="center title">Compose Message</div>
      <span class="left"><a zf-close="compose" href="#">Cancel</a></span>
      <span class="right"><a href="#">Send</a></span>
    </div>
    <div class="grid-content">
      <label>Email
        <input type="text" placeholder="email@zmail.com" />
      </label>
      <label>Message
        <textarea placeholder="hello..."></textarea>
      </label>
    </div>
    </div>
  </div>
</zf-modal>
<!-- End Compose Message -->

<div zf-modal="" id="advancedModal" class="collapse">
  <div class="grid-block vertical">
    <div class="primary title-bar">
    <div class="center title">Attachment</div>
    <span zf-close="" class="left"><a>Close</a></span>
    <span zf-close="" class="right"><a>Done</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem;">
    <p class="text-center">
    <img src="http://images.clipartpanda.com/document-clipart-9iRRbd7ET.png">
    </p>
    <a zf-close="" class="button">OK</a>
    <a zf-close="" class="button">Cancel</a>
    </div>
  </div>
</div>
