<li class="success active">
  <a ui-sref="message">
    <h5>Thunerbolt Monitor for SF new hire</h5>
    <p>Submitted by <b>Hillary Hartley</b></p>
  </a>
</li>
<li class="alert">
  <a ui-sref="message">
    <h5>Training request for UX Week Conference in San Francisco</h5>
    <p>Submitted by <b>Amber Reed</b></p>
  </a>
</li>
<li class="success">
  <a ui-sref="message">
    <h5>Office Supplies</h5>
    <p>Submitted by <b>Erica Deahl</b></p>
  </a>
</li>
 <li class="success">
  <a ui-sref="message">
    <h5>Thunerbolt Monitor for SF new hire</h5>
    <p>Submitted by <b>Hillary Hartley</b></p>
  </a>
</li>
<li class="success">
  <a ui-sref="message">
    <h5>Training request for UX Week Conference in San Francisco</h5>
    <p>Submitted by <b>Amber Reed</b></p>
  </a>
</li>
<li class="secondary">
  <a ui-sref="message">
    <h5>Office Supplies</h5>
    <p>Submitted by <b>Erica Deahl</b></p>
  </a>
</li>
<li class="success">
  <a ui-sref="message">
    <h5>Thunerbolt Monitor for SF new hire</h5>
    <p>Submitted by <b>Hillary Hartley</b></p>
  </a>
</li>
<li class="alert">
  <a ui-sref="message">
    <h5>Training request for UX Week Conference in San Francisco</h5>
    <p>Submitted by <b>Amber Reed</b></p>
  </a>
</li>
<li class="secondary">
  <a ui-sref="message">
    <h5>Office Supplies</h5>
    <p>Submitted by <b>Erica Deahl</b></p>
  </a>
</li>
 <li class="success">
  <a ui-sref="message">
    <h5>Thunerbolt Monitor for SF new hire</h5>
    <p>Submitted by <b>Hillary Hartley</b></p>
  </a>
</li>
<li class="info">
  <a ui-sref="message">
    <h5>Training request for UX Week Conference in San Francisco</h5>
    <p>Submitted by <b>Amber Reed</b></p>
  </a>
</li>
<li class="info">
  <a ui-sref="message">
    <h5>Office Supplies</h5>
    <p>Submitted by <b>Erica Deahl</b></p>
  </a>
</li>