<li class="inbox-item success active">
  <a ui-sref="message">
    <p>Requester: <b>Hillary Hartley</b><br>
      07-23-2016</p>
    <h5>Thunderbolt Monitor for SF new hire</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
<li class="inbox-item alert">
  <a ui-sref="message-alert">
    <p>
      Requester: <b>Amber Reed</b><br>
      07-09-2011<br>
  </p>
  <h5>Training request for UX Week Conference in San Francisco</h5>

    <div>
      <span class="label">
        <img zf-iconic="" icon="comment-square" size="small" class="iconic-color-primary"> New Comment
      </span>
    </div>
  </a>
</li>
<li class="inbox-item success">
  <a ui-sref="message">
    <p>
      Requester: <b>Erica Deahl</b><br>
      09-21-2011<br>
  </p>
  <h5>Office Supplies</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
 <li class="inbox-item success">
  <a ui-sref="message">
    <p>
      Requester: <b>Hillary Hartley</b><br>
      06-15-2010<br>
  </p>
  <h5>Thunerbolt Monitor for SF new hire</h5>
    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
<li class="inbox-item success">
  <a ui-sref="message">
    <p>
      Requester: <b>Amber Reed</b><br>
      04-01-2015<br>
  </p>
  <h5>Training request for UX Week Conference in San Francisco</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
<li class="inbox-item secondary">
  <a ui-sref="message">
    <p>
      Requester: <b>Erica Deahl</b><br>
      08-28-2014<br>
  </p>
  <h5>Office Supplies</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="comment-square" size="small" class="iconic-color-primary"> New Comment
      </span>
    </div>
  </a>
</li>
<li class="inbox-item success">
  <a ui-sref="message">
    <p>
      Requester: <b>Hillary Hartley</b><br>
      08-06-2011<br>
  </p>
  <h5>Thunerbolt Monitor for SF new hire</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
<li class="inbox-item alert">
  <a ui-sref="message">
    <p>
      Requester: <b>Amber Reed</b><br>
      01-26-2011<br>
  </p>
  <h5>Training request for UX Week Conference in San Francisco</h5>
  </a>
</li>
<li class="inbox-item secondary">
  <a ui-sref="message">
    <p>
      Requester: <b>Erica Deahl</b><br>
      01-09-2015<br>
  </p>
  <h5>Office Supplies</h5>

    <div class="fr">
    </div>
  </a>
</li>
 <li class="inbox-item success">
  <a ui-sref="message">
    <p>
      Requester: <b>Hillary Hartley</b><br>
      09-09-2013<br>
  </p>
  <h5>Thunerbolt Monitor for SF new hire</h5>
    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
<li class="inbox-item info">
  <a ui-sref="message">
    <p>
      Requester: <b>Amber Reed</b><br>
      11-09-2013<br>
  </p>
  <h5>Training request for UX Week Conference in San Francisco</h5>

    <div class="fr">
    </div>
  </a>
</li>
<li class="inbox-item info">
  <a ui-sref="message">
    <p>
      Requester: <b>Erica Deahl</b><br>
      09-04-2012<br>
  </p>
  <h5>Office Supplies</h5>

    <div class="fr">
      <span class="label">
        <img zf-iconic="" icon="document" size="small" class="iconic-color-primary"> File Attached
      </span>
    </div>
  </a>
</li>
