<div class="collapse shrink grid-block" style="overflow: visible; padding-top: 10px; padding-left: 10px">
    <ul class="icon-left secondary menu-bar medium-condense"  style="overflow: visible;">
      <li>
        <div zf-action-sheet="">
          <div zf-as-button="" title="Add Filter" class="filter-button"></div>
          <div zf-as-content="" position="bottom">
          <ul class="text-left">
            <div ng-include="'partials/inbox/filter.html'"></div>
          </ul>
          </div>
        </div>
      </li>

      <li>
        <a ui-sref="inbox-pending">
          <img zf-iconic="" icon="Reload" size="small" class="iconic-color-primary">
          Pending
        </a>
      </li>
      <li>
        <a ui-sref="inbox-completed">
          <img zf-iconic="" icon="circle-x" size="small" class="iconic-color-primary">
          Completed
        </a>
      </li>
      <!-- <li>
        <a ui-sref="inbox-pinned">
          <img zf-iconic="" icon="star" size="small" class="iconic-color-primary">
          Pinned
        </a>
      </li> -->



    </ul>

  <div class="medium-4 grid-block" style="    margin-left: auto;
    margin-right: 50px; padding-left: 10px;     overflow: visible;">
    <div class="search-wrap" style="width: 100%;">
      <input type="text" placeholder="Search" style="    margin-bottom: 0px;">
      <img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-secondary" class="search-icon">
      <div zf-action-sheet="" class="advanced-search">
        <div zf-as-button="" title="▼" class="filter-button"></div>
        <div zf-as-content="" position="bottom">
          <ul class="text-left">
            <div ng-include="'partials/inbox/search.html'"></div>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
